<!-- <div class="jumbotron text-center">
  <h1>Home Page</h1>

  <p>{{ message }}</p>
</div> -->
<div class="container" ng-controller="AppCtrl">
	<div class="col-sm-12" style="margin-top:0px;">
		<h3>Users Contact List</h3>
		<table class="table table-border">
			<tbody>
				<tr ng-repeat= "contact in contactlist">
		    	<td>{{contact.name}}</td>
		    	<td>{{contact.email}}</td>
		      <td>{{contact.number}}</td>
		      <td>
		      	<button class="btn btn-danger" ng-click="remove(contact._id)">Remove</button>
		      	<button class="btn btn-warning" ng-click="edit(contact._id)">Edit</button>
		      </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>